h1 {
    font-family: 'Allerta', sans-serif;
    font-size: 25px;
    text-align:center;
    margin-top: 25%;
    margin-bottom:25%;
}

h2 {
    font-family: 'Allerta', sans-serif;
    font-size: 15px;
    position:relative; 
}

a:link {
    color:black;
    text-decoration:none;
}

a:visited {
    color:black;
    text-decoration:none;
}

a:hover {
    color:red;
    text-decoration:none;
}

.img {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;

}

.img a:hover {
    opacity: .5;
    transition: 0.4s;
}
